
.body {
    font-family: 'Niramit', sans-serif;
}

.jumbotron {
    background-color: white;
    padding-top: 150px;

}

.my-title {
    text-align: center;
}

.lead {
    text-align: center;
}

.bottom {
    padding-top: 20px;
}

.card-img-top {
    border-radius: 50%;
    border: 1px solid black;
}

.card {
    margin: 0 auto;
    border: 0px solid black;
    height: 500px;

}

.col {
    padding: 20px;
}

.card-title {
    text-align: center;
    border-bottom: 1px solid black; 
}

.job-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.my-title {
    border-bottom: 2px solid black;
}



