html, body {
    height: 100%;
    width: 100%;
}

#home {
    background: url(img/Baby-Penguin-penguins-40120979-1024-768.jpg) no-repeat center top fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding: 15% 0%;
}


.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url(img/expedition1.jpg) no-repeat center top fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding: 15% 0%;
}

@media (max-width 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}

/* --- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
} */
/* .fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */